<div class="bg-red-200 py-4 border-b text-xl">
<ul class="flex">
  <li class="mr-6">
    <a class="hover:text-blue-800" href="#">Home</a>
  </li>
  <li class="mr-6">
    <a class="hover:text-blue-800" href="#">Phones</a>
  </li>
  <li class="mr-6">
    <a class="hover:text-blue-800" href="#">TVs</a>
  </li>
</ul>
</div>