<div class="flex-auto">
<h1 class="text-4xl mb-4">Dashboard</h1>

<div class="grid grid-cols-3 gap-4">
  <% @products.each do |product| %> 
    <%= render(ItemCardComponent.new(title: product.title, description: product.description)) %>
  <% end %>
</div>
<%= render(BannerComponent.new(title: "Status", message: "Completed")) %>
</div>




